{% extends "maker/index_base.html" %}

{% block card_list %}
	<ul class="list-group">
	<!-- Card(id color name type faeria lake mountain forest desert power life rarity image) -->
		{% for card in cards %}
		<li class="list-group-item card_list_item"><a href="javascript: addToHand( new Card('{{ card.id }}', '{{ card.image }}') );" lands="{{ card.forest }}{{ card.lake}}{{ card.mountain }}{{ card.desert }}" card_id="{{ card.id }}">
			<div>
				<span class="text">{{ card.name }}</span>
				<div class="pull-right mywell"><span class="icon icon-faeria-cost">{{ card.faeria }}</span></div>
				{% if card.wild != "0" %}
				<div class="pull-right mywell"><span class="icon icon-wild-req">{{ card.wild }}</span></div>
				{% endif %}
				{% if card.desert != "0" %}
				<div class="pull-right mywell"><span class="icon icon-desert-req">{{ card.desert }}</span></div>
				{% endif %}
				{% if card.mountain != "0" %}
				<div class="pull-right mywell"><span class="icon icon-mountain-req">{{ card.mountain }}</span></div>
				{% endif %}
				{% if card.lake != "0" %}
				<div class="pull-right mywell"><span class="icon icon-lake-req">{{ card.lake }}</span></div>
				{% endif %}
				{% if card.forest != "0" %}
				<div class="pull-right mywell"><span class="icon icon-forest-req">{{ card.forest }}</span></div>
				{% endif %}
			</div>
		</a></li>
	  {% endfor %}
	</ul>
{% endblock %}