
html {
    overflow-y: scroll;
}
.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
	font: 700 16px/ 29px "Open Sans";
	text-align: center;
	padding-top: 10px;
}
.icon.icon-desert-req{
	width: 34px;
	height: 39px;
    background-image: url("/static/maker/images/icon-lands-cost_sprite.png");
    background-position: 0 -80px;
    color: #e5a018;
}
.icon.icon-mountain-req{
	width: 34px;
	height: 39px;
    background-image: url("/static/maker/images/icon-lands-cost_sprite.png");
	background-position: 0 -41px;
	color: #cf3201;
}
.icon.icon-lake-req{
	width: 34px;
	height: 39px;
    background-image: url("/static/maker/images/icon-lands-cost_sprite.png");
	background-position: 0 -120px;
	color: #0091e5;
}
.icon.icon-forest-req{
	width: 34px;
	height: 39px;
    background-image: url("/static/maker/images/icon-lands-cost_sprite.png");
	background-position: 0 -2px;
	color: #5bb21b;
}
.icon.icon-wild-req{
	width: 34px;
	height: 39px;
    background-image: url("/static/maker/images/icon-lands-cost-wild.png");
	background-position: 1px 9px;
	color: #ffffff;
}
.icon.icon-faeria-cost{
	width: 34px;
	height: 39px;
    background-image: url("/static/maker/images/icon-faeria.png");
	background-position: 1px 7px;
	color: black;
}
.card_list{
    height: 500px;
    overflow-y: auto;
}
.card_list_item {
	padding: 0px;
	padding-left: 5px;
}
.card_list_item span.text{
	vertical-align: middle;
	display: inline-block;
	margin: 10px;
}

.remove{
	padding: 10px;
	border: 0px;
	background-color: #eee;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
}

.land_coordinates{
	padding: 10px;
	margin: 10px;
	border: 5px;
	border-radius: 5px;
	border-color: black;
	background-color: #eee;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 30px;
	font-style: bold;
}

#land_filter{
	max-height: 50px;
	padding-bottom: 30px;
}

#land_filter li a{
	width: 40px;
	height: 40px;
	padding: 5px;
}
#land_filter #all a{
	padding: 10px;
	text-align: center;
}
#land_filter li a img{
	width: 30px;
	height: 30px;
}
.mywell{
	background-color: #eee;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	padding: 0px;
	border: 0px;
}
.mywell:hover{
	background-color: #ddd;
}

#img_list .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

#img_list .card_in_hand .overlay .btn{
  position: absolute;
  top: 0px;
  right: 0px;
}
#img_list .card_in_hand{
	position: relative;
	max-width: 250px;
}
#img_list .card_in_hand img{
	display: block;
	width: 100%;
	height: auto;
}
#img_list .card_in_hand:hover .overlay{
	opacity: 1;
	background: rgba(255, 255, 255, 0.5);
}

#lands .mypills li{
	padding: 0px;
	margin: 0px;
    border-style: solid;
    border-width: 1px;
	border-color: black;
	border-radius: 5px;
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
}
#lands .mypills li a{
	padding: 0px;
	margin: 0px;
}
#lands .mypills li img{
	width: 100%;
	height: 100%;
	max-width: 100px;
	max-height: 100px;
}
#lands .mypills li:hover img{
	opacity: 0.5;
}

#lands .mypills li.active{
	background-color: rgb(51, 122, 183);
	opacity: 0.8;
}